/* The Modal (background) */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001; /* Assure que le modal est au-dessus de l'overlay */
  left: 16cm;
  top: 5cm;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modifiez la position et la taille du contenu modal */
.modal-content {
  background-color: #2e2d2d;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px orangered;
  position: relative;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
}

form button {
  padding: 10px;
  background-color: #f36100;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

form button:hover {
  background-color: orangered;
}

form p {
  margin-top: 10px;
  text-align: center;
}

form a {
  color: #007bff;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.336);
  z-index: 1000; /* Assure que l'overlay est au-dessus du modal */
  display: none; /* Par défaut, l'overlay est caché */
}
